# **Autumn Trends**

Dividir en mitad de mes en mitad de mes, hacer media de lo que me interesa

In [11]:
from pytrends.request import TrendReq
import pandas as pd
from datetime import datetime, timedelta
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Creating the timeframe for the last 3 months
end_date = datetime.today().strftime('%Y-%m-%d')
start_date = (datetime.today() - timedelta(days=90)).strftime('%Y-%m-%d')

timeframe = f'{start_date} {end_date}'

## Fall Fashion Items

In [3]:
# Establish Connection
pytrends1 = TrendReq(hl='en-US', tz=300)

# Key Word List (fashion items)
kw_list1 = ["blazer", "coat", "boots", "sweater", "gloves"]

# Searching by category (fashion and beauty = 185) and in the US
pytrends1.build_payload(kw_list1, cat=185, timeframe=timeframe, geo='US', gprop='')
data1 = pytrends1.interest_over_time()

# Dataframe
df1 = pd.DataFrame(data1)
df1 = df1.reset_index()
df1.drop(columns=['isPartial'], inplace = True)
df1

         date  blazer  coat  boots  sweater  gloves
0  2024-06-01       0     0     47       58       0
1  2024-06-02       0     0     75        0       0
2  2024-06-03       0     0     41       31       0
3  2024-06-04       0     0     47        0       0
4  2024-06-05       0     0     41       33       0
..        ...     ...   ...    ...      ...     ...
86 2024-08-26      14    26     69       59       5
87 2024-08-27      11    21     68       60       2
88 2024-08-28      13    21     77       57       3
89 2024-08-29      12    18     77       55       0
90 2024-08-30      15    22     92       69       0

[91 rows x 6 columns]

## Fall Colors

In [4]:
# Establish Connection
pytrends2 = TrendReq(hl='en-US', tz=300)

# Key Word List (colors)
kw_list2 = ["black", "white", "red", "blue", "brown"]

# Searching by category (fashion and beauty = 185) and in the US
pytrends2.build_payload(kw_list2, cat=185, timeframe=timeframe, geo='US', gprop='')
data2 = pytrends2.interest_over_time()

# Dataframe
df2 = pd.DataFrame(data2)
df2 = df2.reset_index()
df2.drop(columns=['isPartial'], inplace = True)
df2

         date  black  white  red  blue  brown
0  2024-06-01     96     68   64    71     19
1  2024-06-02     94     61   69    72     19
2  2024-06-03     78     65   66    64     16
3  2024-06-04     74     55   60    51     14
4  2024-06-05     66     58   57    56     19
..        ...    ...    ...  ...   ...    ...
86 2024-08-26     76     47   59    52     15
87 2024-08-27     74     50   57    48     14
88 2024-08-28     78     51   55    46     14
89 2024-08-29     79     51   55    48     13
90 2024-08-30     88     54   69    51     16

[91 rows x 6 columns]

In [5]:
# Establish Connection
pytrends2b = TrendReq(hl='en-US', tz=300)

# Key Word List (colors)
kw_list2b = ["green", "pink", "orange","gold", "silver"]

# Searching by category (fashion and beauty = 185) and in the US
pytrends2b.build_payload(kw_list2b, cat=185, timeframe=timeframe, geo='US', gprop='')
data2b = pytrends2b.interest_over_time()

# Dataframe
df2b = pd.DataFrame(data2b)
df2b = df2b.reset_index()
df2b.drop(columns=['isPartial'], inplace = True)
df2b

         date  green  pink  orange  gold  silver
0  2024-06-01     33    78      19    43      21
1  2024-06-02     53    98      20    49      16
2  2024-06-03     40    85      21    39      16
3  2024-06-04     40    78       0    21      15
4  2024-06-05     38    67      14    35      13
..        ...    ...   ...     ...   ...     ...
86 2024-08-26     37    60      13    29      14
87 2024-08-27     34    55      13    26      15
88 2024-08-28     34    62      12    27      14
89 2024-08-29     34    57      12    30      12
90 2024-08-30     41    63      13    33      16

[91 rows x 6 columns]

In [6]:
df2 = pd.merge(df2,df2b, on = 'date')

## Fall Materials

In [7]:
# Establish Connection
pytrends3 = TrendReq(hl='en-US', tz=300)

# Key Word List (materials)
kw_list3 = ["denim", "leather", "cotton", "wool", "velvet"]

# Searching by category (fashion and beauty = 185) and in the US
pytrends3.build_payload(kw_list3, cat=185, timeframe=timeframe, geo='US', gprop='')
data3 = pytrends3.interest_over_time()

# Dataframe
df3 = pd.DataFrame(data3)
df3 = df3.reset_index()
df3.drop(columns=['isPartial'], inplace = True)
df3

         date  denim  leather  cotton  wool  velvet
0  2024-06-01     54       98       0     0       0
1  2024-06-02     52       93       0     0       0
2  2024-06-03     36       88       0     0       0
3  2024-06-04     29       69       0     0       0
4  2024-06-05     42       65       0     0       0
..        ...    ...      ...     ...   ...     ...
86 2024-08-26     31       78       5     1       6
87 2024-08-27     28       72       5     1       7
88 2024-08-28     32       78       5     1       8
89 2024-08-29     32       72       4     3       9
90 2024-08-30     37       82       5     2      10

[91 rows x 6 columns]

## "Fall Trends" Search

In [8]:
# Establish Connection
pytrends4 = TrendReq(hl='en-US', tz=300)

# Key Word
kw_list4 = ["fall trends"]

# Searching by category (fashion and beauty = 185) and in the US
pytrends4.build_payload(kw_list4, cat=185, timeframe=timeframe, geo='US', gprop='')
data4 = pytrends4.interest_over_time()

# Dataframe
df4 = pd.DataFrame(data4)
df4 = df4.reset_index()
df4.drop(columns=['isPartial'], inplace = True)
df4

         date  fall trends
0  2024-06-01            0
1  2024-06-02            0
2  2024-06-03            0
3  2024-06-04            0
4  2024-06-05            0
..        ...          ...
86 2024-08-26           81
87 2024-08-27           81
88 2024-08-28           79
89 2024-08-29           70
90 2024-08-30           78

[91 rows x 2 columns]

## Data Cleaning - Division By Month

In [9]:
dataframe1 = pd.merge(df1,df2, on = 'date')
dataframe2 = pd.merge(dataframe1,df3, on = 'date')
dataframe3 = pd.merge(dataframe2,df4, on = 'date')
dataframe3['date'] = dataframe3['date'].astype(str)

In [10]:
dataframe = dataframe3.drop(0).reset_index(drop=True)

In [13]:
def month_ex(date):
    match = re.search(r'-(\d{2})-', date)
    if match:
        return match.group(1)
    return None


dataframe['Month'] = dataframe['date'].apply(month_ex)


june = dataframe[dataframe['Month'] == '06']
july = dataframe[dataframe['Month'] == '07']
august = dataframe[dataframe['Month'] == '08']

In [17]:
def means(data):
    result = round(data.mean(), 2)
    return result

mean_june = pd.DataFrame(means(june.drop(columns=['date', 'Month']))).T
mean_july = pd.DataFrame(means(july.drop(columns=['date', 'Month']))).T
mean_august = pd.DataFrame(means(august.drop(columns=['date', 'Month']))).T

In [21]:
mean_months = pd.concat([mean_june, mean_july, mean_august], axis = 0)
mean_months["month"] = ["June", "July", "August"]

## Saving Dataframes

In [11]:
# Full 3 Months - Exact Dates
dataframe.to_json('./data/falltrends.json', orient='records', lines=True)

In [22]:
# Full 3 Months - Mean by Month
mean_months.to_json("./data/falltrends_month.json", orient='records', lines=True)